.app {
  padding: 24px;
}

.header-app {
  margin-bottom: 24px;
}

form input {
  font-family: 'Inter';
  font-size: 1rem;
  font-weight: bold;
  border-radius: 16px;
  padding: 14px 24px;
  width: 100%;
  border: 0;
  background: var(--gray-100);
  color: var(--gray-700);
}

form input::placeholder {
  color: #2D2D2D40;
}

.search-word {
  position: relative;
}

.search-word img{
  position: absolute;
  right: 24.45px;
  top: 0;
}

main header {
  margin-top: 24px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main header h1 {
  color: var(--gray-700);
  margin-bottom: 8px;
}

main header span {
  color: var(--primary);
}

.play-pronuncia {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: 0;
  background: #A445ED30;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

div strong.heading-m-mobile {
  display: block;
  font-weight: bold;
  font-style: italic;
  display: flex;
  align-items: center;
  gap: 1rem;
}

div strong.heading-m-mobile::after {
  content: '';
  display: inline-block;
  height: 1px;
  width: 100%;
  background-color: var(--gray-300);
} 

.meaning-noun, .meaning-verb {
  padding: 32px 0;
}

.meaning-noun span:first-child,
.meaning-verb span:first-child {
  display: inline-block;
  color: var(--gray-400);
  margin-bottom: 17px;
}

.meaning-verb {
  border-bottom: 1px solid var(--gray-300);
}

.meaning-list {
  display: flex;
  flex-direction: column;
  gap: 0.812rem;
}

.meaning-list li {
  color: var(--gray-700);
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.meaning-list li:not(.verb-quote)::before {
  margin-top: 10px;
  content: "";
  display: inline-block;
  min-height: 5px;
  min-width: 5px;
  border-radius: 100%;
  background: var(--primary);
}

.verb-quote q {
  margin-left: 25px;
  color: var(--gray-400);
}

footer {
  margin-top: 24px;
}

footer span {
  display: block;
  text-decoration: underline;
  color: var(--gray-400);
  margin-bottom: 8px;
}

footer a {
  color: var(--gray-700);
  display: flex;
  gap: 8px;
}
